@using MvcProjeKampi.EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkında Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Başlık</td>
            <td><button class="btn btn-danger">Aktif</button></td>
            <td><button class="btn btn-primary">Pasif</button></td>
        </tr>
    }
</table>
@Html.Action("AboutPartial","About")