<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
<form class="form-group" method="post">
    <input type="text" name="CategoryName" placeholder="Kategori Adı" class="form-control"></input>
    <br />
    <input type="text" name="CategoryDescription"  placeholder="Açıklama" class="form-control"></input>
    <br />
    <button class="btn bg-primary">Kaydet</button>
</form>
